@font-face{
    font-family: Titulo;
    src: url(arkwright.otf);
}

html{
    height:             100%;
    margin:             0px;
    padding:            0px;
}

body{
    background-image:   url("../imagem/background.jpg");
    background-repeat:  no-repeat;
    background-size:    cover;
    background-color:   #9D785B;
    height:             100%;
    margin:             0px;
    padding:            0px;
}

.armacao{
    width:              900px;
    height:             92%;
    margin:             0 auto;
    background-color:   #FFFFFF;
}

.cabecalho{
    width:              100%;
    height:             100px;
    background-color:   #FFFACD;
    float:              left;
}

.cabecalho img{
    height:             100px;
    margin:             10px;
    float:              left;
}

.cabecalho .info{
    width:              300px;
    height:             100px;
    margin:             20px 10px;
    float:              left;
}

.cabecalho .info h1{
    font-size:          24px;
    color:              #B22222;
    margin:             0;
    padding:            0;
}

.cabecalho .info span{
    font-size:          12px;
    color:              #333333;
}

.cabecalho .logado{
    float: right;
    margin: 20px;
    text-align: right;
}

/* ESTILO DO CORPO DA APLICAÇÃO */
.corpo{
    width:              100%;
    min-height:         100%;
    background-color:   #FFFFFF;
}

/* ESTILO DO MENU DROPDOWN HORIZONTAL */
.corpo .menuContainer{
    width:              100%;
    background-color:   #FFFFFF;
    float:              left;
}

.corpo .menuContainer .menu{
    list-style:         none; 
    border:             1px dotted #c0c0c0; 
    float:              left; 
    width:              100%;
    padding:            0px;
    margin:             0px;
}

.corpo .menuContainer .menu li{
    position:           relative;
    float:              left;
}

.corpo .menuContainer .menu li a{
    color:              #B22222; 
    text-decoration:    none; 
    padding:            5px 10px; 
    display:            block;
    font-size: 1em;
}
 
.corpo .menuContainer .menu li a:hover{
    background:         #FFFACD;
    color:              #333333;
    -moz-box-shadow:    0 3px 10px 0 #BB5555;
    -webkit-box-shadow: 0 3px 10px 0 #BB5555;
    text-shadow:        0px 0px 5px #fff;
}

.corpo .menuContainer .menu li  ul{
    position:           absolute;
    top:                25px;
    left:               0;
    background-color:   #FFFACD;
    display:            none;
    padding:            0px;
    z-index:            99999;
} 

.corpo .menuContainer .menu li:hover, .corpo .menuContainer .menu li:hover ul, .corpo .menuContainer .menu li.over ul{
    display:            block;
    background-color:   #FFFACD;
}

.corpo .menuContainer .menu li ul li{
    display:            block;
    width:              150px;
    border-bottom:      1px dotted #c0c0c0;
}

/* ESTILO DO CONTEUDO DA PÁGINA */
.corpo .conteudo{
    width:              100%;
    min-height:         100%;
    margin:             0;
    float:              left;
    background-color:   #FFFFFF;
}

/* Páginas */
.corpo .conteudo h2.tituloPaginas{
    font-family:        Titulo;
    font-size:          24px;
    color:              #B22222;
    width:              700px;
    border-bottom:      1px dotted #B22222;
    text-align:         center;
    margin:             0 auto;
    padding:            20px 0;
}

.corpo .conteudo form{
    width:              500px;
    margin:             10px auto;
    padding:            20px;
}

.corpo .conteudo form p{
    width:              100%;
}

.corpo .conteudo form p.btnCad{
    text-align:         center;
    width:              100%;
    padding-top:        10px;
}

.corpo .conteudo form p label{
    width:              100px;
    font-size:          16px;
    color:              #333333;
}

.corpo .conteudo form p input[type='text'], .corpo .conteudo form p input[type='password'], .corpo .conteudo form p select, .corpo .conteudo form p textarea{
    width:              100%;
    height:             20px;
    font-size:          16px;
    color:              #333333;
}

.corpo .conteudo form p textarea{
    height:             50px;
    resize:             none;
}

.corpo .conteudo table.listas{
    margin:             20px auto;
    border-collapse:    collapse;
}

.corpo .conteudo table.listas thead{
    background-color:   #B22222;
    color:              #FFFFFF;
    font-weight:        bold;
}

.corpo .conteudo table.listas tbody tr td{
    border:             1px solid #c0c0c0;
    padding:            5px;
}

.corpo .conteudo table.listas tbody tr td.codigo{
    text-align:         center;
}

.corpo .conteudo table.listas tbody tr td a{
    text-decoration:    none;
}

.corpo .conteudo table.listas tbody tr td a img{
    max-height:         20px;
}
form{
    
    border: 2px #333333 solid ;
}
input{
    margin-top: 10px;
    z-index: 999;
    
}
